[Unit]
Description=Schedule_server
After=multi-user.target

[Service]
User=root
Type=idle
ExecStart=/usr/bin/python3 /var/www/html/2c/sched.py
Restart=always

[Install]
WantedBy=multi-user.target

