[Unit]
Description=Server_get
After=multi-user.target

[Service]
User=root
Type=idle
ExecStart=/usr/bin/python3 /var/www/html/2c/server.py
Restart=always

[Install]
WantedBy=multi-user.target
