#recalculateWidget {
  border: 1px solid #ebedf3;
  box-shadow: 0 0 20px 0 rgba(82, 63, 105, 0.05);
  padding: 1rem 1.5rem;
  border-radius: 0.42rem;
}
#recalculateWidget .visiblePart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#recalculateWidget .visiblePart .title {
  font-size: 1.1rem;
}
#recalculateWidget .recalculateForm {
  display: none;
  margin-top: 20px;
}
#recalculateWidget .recalculateForm.active {
  display: block;
}
#recalculateWidget .recalculateForm .customCommission .commissionInputWrapper .selectType .type {
  cursor: pointer;
}
#recalculateWidget .recalculateForm .customCommission .commissionInputWrapper .valueDescription {
  display: block;
  font-size: 0.9rem;
  margin-top: 10px;
  color: #B5B5C3;
}
#recalculateWidget .recalculateForm .customCommission .commissionInputWrapper .valueDescription.up {
  color: #1BC5BD;
}
#recalculateWidget .recalculateForm .customCommission .commissionInputWrapper .valueDescription.down {
  color: #FFA800;
}

