#modal_columnsWidget #toggleAll {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin-bottom: 14px;
}
#modal_columnsWidget #columnsWrapper {
  padding-right: 10px;
  overflow-y: scroll;
  max-height: 50vh;
}
#modal_columnsWidget #columnsWrapper .column {
  display: flex;
  align-items: center;
  border: 1px solid #ebedf3;
  border-radius: 0.42rem;
  padding: 1rem 1.25rem 1rem 0.5rem;
  margin-bottom: 7px;
}
#modal_columnsWidget #columnsWrapper .column.sortable-drag {
  background: #f0f0f0;
  box-shadow: 0 0 20px 0 rgba(82, 63, 105, 0.05);
}
#modal_columnsWidget #columnsWrapper .column.drag {
  border: 1px solid #3699FF;
}
#modal_columnsWidget #columnsWrapper .column .handle {
  width: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: move;
}
#modal_columnsWidget #columnsWrapper .column .checkbox {
  margin-left: 5px;
  padding-left: 10px;
  border-left: 1px solid #ebedf3;
}
#modal_columnsWidget #columnsWrapper .column .name {
  margin-left: 15px;
}


